@charset "utf-8";
@font-face {
    font-family: Montserrat;
    font-weight: 200;
    src: url("../font/Montserrat-Thin.eot");
    src: local("※"),
        url("../font/Montserrat-Thin.woff") format("woff"),
        url("../font/Montserrat-Thin.ttf") format("truetype");
}
@font-face {
    font-family: Montserrat;
    font-weight: 300;
    src: url("../font/Montserrat-Light.eot");
    src: local("※"),
        url("../font/Montserrat-Light.woff") format("woff"),
        url("../font/Montserrat-Light.ttf") format("truetype");
}
@font-face {
    font-family: Montserrat;
    font-weight: 400;
    src: url("../font/Montserrat-Regular.eot");
    src: local("※"),
        url("../font/Montserrat-Regular.woff") format("woff"),
        url("../font/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
    font-family: Montserrat;
    font-weight: 500;
    src: url("../font/Montserrat-Medium.eot");
    src: local("※"),
        url("../font/Montserrat-Medium.woff") format("woff"),
        url("../font/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
    font-family: Montserrat;
    font-weight: 700;
    src: url("../font/Montserrat-Bold.eot");
    src: local("※"),
        url("../font/Montserrat-Bold.woff") format("woff"),
        url("../font/Montserrat-Bold.ttf") format("truetype");
}
@font-face{
    font-family: NotoS;
    font-weight: 400;
    src: url("../font/NotoSans-Regular.eot");
    src: local("※"), 
        url("../font/NotoSans-Regular.woff") format("woff"),
        url("../font/NotoSans-Regular.ttf") format("truetype");
}
@font-face{
    font-family: Neo;
    font-weight: 400;
    src: url("../font/Neothic.eot");
    src: local("※"), 
        url("../font/Neothic.eot") format("woff"),
        url("../font/Neothic.ttf") format("truetype");
}
@font-face{
    font-family: Lucidab;
    font-weight: 400;
    src: url("../font/LBRITE.eot");
    src: local("※"), 
        url("../font/LBRITE.woff") format("woff"),
        url("../font/LBRITE.TTF") format("truetype");
}
@font-face{
    font-family: Lucidab;
    font-weight: 700;
    src: url("../font/lucidabrightdemibold.eot");
    src: local("※"), 
        url("../font/lucidabrightdemibold.woff") format("woff"),
        url("../font/lucidabrightdemibold.TTF") format("truetype");
}
@font-face{
    font-family: GothA1;
    font-weight: 400;
    src: url("../font/GothicA1-Regular.eot");
    src: local("※"), 
        url("../font/GothicA1-Regular.woff") format("woff"),
        url("../font/GothicA1-Regular.TTF") format("truetype");
}
@font-face{
    font-family: GothA1;
    font-weight: 700;
    src: url("../font/GothicA1-Bold.eot");
    src: local("※"), 
        url("../font/GothicA1-Bold.woff") format("woff"),
        url("../font/GothicA1-Bold.TTF") format("truetype");
}
@font-face {
    font-family: 'Chosunilbo_myungjo'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal;
}
@font-face {
    font-family: NanumGo;
    font-weight: 400;
    src: url("../font/NanumGothic.eot");
    src: local("※"),
        url("../font/NanumGothic.woff") format("woff"),
        url("../font/NanumGothic.ttf") format("truetype");
}
@font-face {
    font-family: NanumGo;
    font-weight: 700;
    src: url("../font/NanumGothicBold.eot");
    src: local("※"),
        url("../font/NanumGothicBold.woff") format("woff"),
        url("../font/NanumGothicBold.ttf") format("truetype");
}

/* reset */
body, h1, h2, h3, h4, h5 , h6, ul, button, p, a, strong, form, input {margin: 0; padding: 0;}
a:link, a:visited, a:hover, a:active {text-decoration: none; color: inherit;}
ul, li {list-style: none;}
button {background: none; border: none; cursor: pointer; font-family: inherit; font-size: inherit; font-weight: inherit; color: inherit; line-height: inherit;}
header, nav, section, article {display: block;}
body {color: #fff; font-family: Montserrat; font-weight: 300; font-size: 16px; line-height: 1; box-sizing: border-box;}
h1, h2, h3, h4, h5 , h6 {font-size: inherit; font-weight: 300;}
strong {font-style: normal; font-weight: 300;}
img {vertical-align: top; border: none;}
input, textarea {font-family: inherit; font-size: inherit; color: inherit; font-weight: inherit; line-height: inherit;}

/* common class */
.f_l {float: left;}
.f_r {float: right;}
.p_a {position: absolute;}
.p_r {position: relative;}
.clearfix:after {content: ''; display: block; clear:both;}
.blind {position: absolute; top: 0; left: -9999px; font-size: 0; line-height: 0; width: 1px; height: 1px; overflow: hidden;}
.area {width: 72.9vw; height: 100%; margin: 0 auto;}