@charset "utf-8";

/* body */
body {position: relative; background-image: linear-gradient(-135deg, #C56CD6 0%,#3425AF 100%); width: 100%; height: 100vh; overflow: hidden;}
section, article {position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden;}


/* ========= wave ========= */
.wave_wrap {position: absolute; top: 0; left: 0; width: 100%;}
.wave_wrap svg {position: absolute; top: 0; left: 0; width: 100%; height: 400px; opacity: 0.3;}

/*========  edith ======== */
#edith {position: absolute; top: 50%; left: 50%; width: 320px; height: 320px; transform: translate(-50%,-60%) scale(1); transition: transform 2s; z-index: 100;}
#edith.onAct2 {transform: translate(-50%,-50%) scale(0.7);}
#edith.onInfo {transform: translate(-50%,-50%) scale(0.5);}
#edith.onCont {transform: translate(-50%,-115%) scale(0.3);}
#edith.onContSend {transform: translate(-50%,-80%) scale(0.8);}
/* #edith.on2:before, #edith.on2:after {content:''; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%) scale(1); background: rgba(255,255,255,0.2); border-radius: 50%;}
#edith.on2:before {width: 420px; height: 420px; box-shadow: 0 0 20px 10px rgba(255,255,255,0.2);}
#edith.on2:after {width: 540px; height: 540px;} */
#edith.onPerson {transform: translate(-50%,-50%) scale(2);}

.edith_bg {width: 100%; height: 100%; background-image: radial-gradient(ellipse farthest-corner at left top, transparent 0%, transparent 70%, rgba(202, 40, 243, 0.5) 95%, rgba(202, 40, 243, 0.8) 100%); border-radius: 50%; animation: bgani 6s linear infinite; transform: rotate(0deg); background-color: rgba(0, 0, 0, 0.1);}
  
@keyframes bgani {
    100% {transform: rotate(360deg);}
}
  
#edith_bg:before {
    content: '';
    position: absolute; top: 50%; left: 50%; margin-left: -125px; margin-top: -125px;
    width: 250px; height: 250px;
    background: rgba(255,255,255,0.2);
    border-radius: 50%;
}

.o-wrapper1 {
    position: absolute; top: 50%; left: 50%; margin-left: -125px; margin-top: -125px;
    width: 250px;
    height: 250px;
    transform-style: preserve-3d;
    animation: 10s spin-that-shit1 linear infinite;
    border-radius: 50%;
}
.o-wrapper1 .o {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1px solid;
    border-radius: 100%;
}

.o-wrapper2 {
    position: absolute; top: 50%; left: 50%; margin-left: -125px; margin-top: -125px;
    width: 250px;
    height: 250px;
    transform-style: preserve-3d;
    animation: 10s spin-that-shit2 linear infinite -1s;
    border-radius: 50%;
}
.o-wrapper2 .o {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1px solid;
    border-radius: 100%;
}

.o-wrapper3 {
    position: absolute; top: 50%; left: 50%; margin-left: -125px; margin-top: -125px;
    width: 250px;
    height: 250px;
    transform-style: preserve-3d;
    animation: 10s spin-that-shit3 linear infinite;
    border-radius: 50%;
}
.o-wrapper3 .o {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1px solid;
    border-radius: 100%;
}


@keyframes spin-that-shit1 {
100% {
    transform: rotateX(360deg) rotateY(360deg);
}
}

@keyframes spin-that-shit2 {
    0%{
    transform: rotateX(-260deg) rotateY(-260deg);
    }
100% {
    transform: rotateX(100deg) rotateY(100deg);
}
}

@keyframes spin-that-shit3 {
0%{
    transform: rotateX(-150deg) rotateY(-150deg);
    }
100% {
    transform: rotateX(210deg) rotateY(210deg);
}
}

.view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-perspective: 400;
            perspective: 400;
}

.plane {
    width: 120px;
    height: 120px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.plane.main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-transform: rotateX(60deg) rotateZ(-30deg);
            transform: rotateX(60deg) rotateZ(-30deg);
    -webkit-animation: rotate 20s infinite linear;
            animation: rotate 20s infinite linear;
}
.plane.main .circle {
    width: 120px;
    height: 120px;
    position: absolute;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 60px rgba(255,255,255,0.7), inset 0 0 60px rgba(255,255,255,0.7);
}
.plane.main .circle::before, .plane.main .circle::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 10%;
    height: 10%;
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 60px 2px rgba(255,255,255,0.7);
}
.plane.main .circle::before {
    -webkit-transform: translateZ(-90px);
            transform: translateZ(-90px);
}
.plane.main .circle::after {
    -webkit-transform: translateZ(90px);
            transform: translateZ(90px);
}
.plane.main .circle:nth-child(1) {
    -webkit-transform: rotateZ(72deg) rotateX(63.435deg);
            transform: rotateZ(72deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(2) {
    -webkit-transform: rotateZ(144deg) rotateX(63.435deg);
            transform: rotateZ(144deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(3) {
    -webkit-transform: rotateZ(216deg) rotateX(63.435deg);
            transform: rotateZ(216deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(4) {
    -webkit-transform: rotateZ(288deg) rotateX(63.435deg);
            transform: rotateZ(288deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(5) {
    -webkit-transform: rotateZ(360deg) rotateX(63.435deg);
            transform: rotateZ(360deg) rotateX(63.435deg);
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
                transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    100% {
        -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
                transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
                transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    100% {
        -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
                transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}
/* //edith 수정할수도 있음 수정하고 정리하기*/


/* ======== #intro ======== */
#intro .area {display: flex; align-items: center; flex-direction: column;}
#intro p {font-size: 3.125rem; margin: 260px 0 88px;}
#intro span {font-size: 1.5rem; margin-top: 66px;}

#fingerPrint {cursor: pointer; transform: scale(1.2);}
#fingerPrint path.touch {transition: all 1.4s ease-out; animation: try 1s ease-out;}
#fingerPrint path.touch.active {stroke-dashoffset: 0;}

@keyframes try {
    0%, 100% {stroke-dashoffset: 260;}
    50% {stroke-dashoffset: 208;}
}


/* ======== #main ======== */
#main .skip_btn {position: fixed; bottom: 40px; right: 40px; font-size: 26px; font-weight: 400; background: url(../images/skip.png) no-repeat right center; padding-right: 34px; opacity: 0.7; z-index: 100;}

#main .area {position: relative;}

#act1 {position: absolute; top: 50%; left: 50%; transform: translate(-50%,200%); width: 800px; font-size: 1.625rem; text-align: center; line-height: 1.8;}
#act1 .txt_area {position: absolute; top: 200px; left: 50%; transform: translate(-50%, 0); width: 800px; height: 100px;}
#act1 .txt_area span {opacity: 0; margin-top: -20px;}

#act2 .txt5 {position: absolute; top: 30%; left: 4%; font-size: 1.5rem;}
#act2 button {position: absolute; right: 30px; display: block; width: 560px; height: 112px; background: rgba(255,255,255,0.15); font-size: 2.375rem; box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2); text-align: left; transition: all 0.8s;}
#act2 .data {top: 237px; padding-left: 150px;}
#act2 .project {top: 414px; padding-left: 154px;}
#act2 .contact {top: 591px; padding-left: 169px;}
#act2 button span {position: absolute; top: 50%; right: 60px; margin-top: -23px; background: no-repeat center center; width: 46px; height: 46px; border-radius: 50%; opacity: 0; transition: all 0.5s;}
#act2 button.data span {background-image: url(../images/icon_data.png);}
#act2 button.project span {background-image: url(../images/icon_proj.png); background-position: 9px center;}
#act2 button.contact span {background-image: url(../images/icon_contact.png); background-position: 5px center;}

#act2 .txt5, #act2 button {display: none; opacity: 0;}

#act2 button.on {padding-left: 60px; width: 600px; background: transparent; box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);}
#act2 button.on span {opacity: 1;}

#act2 button.on span:before, #act2 button.on span:after {content:''; position: absolute; top: 50%; left: 50%; width: 20px; height: 20px; margin-top: -10px; margin-left: -10px; background: rgba(255,255,255,0.5); border-radius: 50%;}
#act2 button.on span:before {animation: circle 1.8s infinite;}
#act2 button.on span:after {animation: circle 1.8s infinite -0.9s;}

@keyframes circle {
    0% {transform: scale(1); opacity: 1;}
    100% {transform: scale(4); opacity: 0;}
}


/* ========== #gnb ============== */
#container #btnOpen {position: fixed; top: 30px; right: 30px; z-index: 250; width: 50px;}
#container #btnOpen img {width: 100%;}
#gnb {position: absolute; top: 0; left: 0; right: 0; bottom: 0; font-size: 90px; font-weight: 700; background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);; display: flex; align-items: center; justify-content: center; z-index: 200;}
#gnb ul {text-align: center;}
#gnb ul li {line-height: 1.7;}
#gnb ul li a {position: relative; background-image: linear-gradient(135deg, #5c77f1 0%, #7840b1 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; transition: all 0.6s; letter-spacing: 0;}
#gnb ul li.on a {letter-spacing: 10px;}
#gnb ul li.on a:after {content:''; width: 106%; height: 50px; background-image: linear-gradient(135deg, rgba(92, 119, 241, 0.5) 0%, rgba(120, 64, 177,0.5) 100%); position: absolute; left: 50%; bottom: 0; transform: translate(-50%,0); z-index: -1; box-shadow: inset 0 0 16px 8px #fdfbfb;}


/* ======== #about ============== */
/* pagination */
#pagination {position: absolute; bottom: 0; left: 0; right: 0; height: 120px; z-index: 20; display: flex; justify-content: flex-end; align-items: center;}
#pagination .indicator {position: absolute; top: 50%; left: auto; right: auto; height: 8px; background: #fff; border-radius: 6px; transform: translate(0, -50%);}
#pagination ul {display: flex;}
#pagination ul li {margin-left: 120px;}
#pagination ul li a {position: relative; display: block; width: 8px; height: 8px; background: rgba(255,255,255,0.5); border-radius: 50%;}
#pagination ul li a:after {content: ''; width: 16px; height: 16px; border: 1px solid rgba(255,255,255,0.7); border-radius: 50%; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); opacity: 0; transition: opacity .6s cubic-bezier(.17,-.43,.19,1);}
#pagination ul li.on a:after {opacity: 1;}
#pagination .tooltip {position: absolute; top: 0; left: 0; transform: translate(-50%,0); opacity: 0;}
#pagination .tooltip .txt {position: relative; font-size: 14px; font-weight: 400; text-transform: uppercase; width: 110px; text-align: center;}
#pagination .tooltip:before {content: ''; position: absolute; width: 1.2px; height: 8px; background: #fff; bottom: -20px; left: 50%;}


/* #info */
#info .area {height: auto;}
#info ul {margin-top: 300px; font-size: 24px;}
#info ul li {padding-bottom: 30px;}
#info ul li.map {position: relative; margin-top: -80px; height: 345px; background: url(../images/map.png) no-repeat 258px center;}
#info ul li.map > div {position: absolute; top: 150px; left: 546px; background: rgba(7, 243, 243, 0.2); width: 2px; height: 2px; border-radius: 50%; animation: map 3s infinite ease-out; opacity: 0; transform: scale(1);}
#info ul li.map .circle2 {animation-delay: -0.5s;}
#info ul li.map .circle3 {animation-delay: -1s;}

@keyframes map {
    0% {opacity: 0; transform: scale(1);}
    20% {opacity: 0.2;}
    70% {opacity: 1;}
    100% {opacity: 0; transform: scale(50); border-radius: 50%;}
}

/* skill */
#skill .area {position: relative;}
#skill h2 {font-size: 50px; font-weight: 400; padding-top: 110px; text-align: center;}
#skill .descr {font-size: 18px; margin-top: 40px; text-align: center;}

.skilltype {display: flex; justify-content: center; flex-direction: row; margin-top: 164px;}
.skilltype.active {justify-content: flex-start;}

.skilltype > li {position: relative; cursor: pointer;}
.skilltype > li+li {margin-left: 80px;}
.skilltype > li .shape {width: 420px; transform: scale(1);}
.skilltype > li .txt_wrap {position: absolute; top: 98px; left: 50px;}
.skilltype > li .txt_wrap span {display: block; font-weight: 400; text-transform: uppercase;}
.skilltype > li .txt_wrap .type {font-size: 26px; background: no-repeat left 10px; height: 82px; padding-left: 102px;}
.skilltype > li .txt_wrap .skill_num {font-size: 20px; margin-top: -44px; padding-left: 102px;}
.skilltype > li .txt_wrap .skill_num strong {font-size: 40px; font-weight: 500; padding-right: 6px;}
.skilltype > li .txt_wrap p {font-size: 20px; margin: 80px 0 40px; line-height: 1.5; opacity: 0;}
.skilltype > li .txt_wrap .icons {opacity: 0;}
.skilltype > li .txt_wrap .icons li {float: left;}
.skilltype > li .txt_wrap .icons li + li {padding-left: 30px;}

.skilltype > li .skill_view {position: absolute; width: 80px; bottom: 26px; left: 50%; margin-left: -40px; color: #fff; font-weight: 300;}
.skilltype > li.on .skill_view {font-weight: 500;}

.skilltype .sk_coding .txt_wrap .type {background-image: url(../images/skill_coding.png); padding-left: 90px;}
.skilltype .sk_design .txt_wrap .type {background-image: url(../images/skill_design.png);}
.skilltype .sk_etc .txt_wrap .type {background-image: url(../images/skill_etc.png); background-position: 0 4px;}

.skilltype .sk_coding .txt_wrap .skill_num {padding-left: 90px;}
.skilltype .sk_etc .txt_wrap .skill_num {margin-top: -29px;}
.skilltype .sk_etc .txt_wrap .skill_num img {margin-top: -10px; padding-right: 18px;}

.skilltype > li.over .shape {transform: scale(1.1);}
.skilltype > li.over .shape path {fill: #2a006d; opacity: 0.3;}

.skilltype > li.on {margin-left: 0; cursor: auto;}
.skilltype > li.on .shape {transform: scale(1.5);}
.skilltype > li.on .txt_wrap {top: 20px; left: 38px;}
.skilltype > li.on .txt_wrap p {opacity: 1; margin-top: 60px;}
.skilltype > li.on .txt_wrap .icons {opacity: 1;}
.skilltype > li.on .skill_view {bottom: -50px;}

.skilltype .sk_coding.on .txt_wrap .type {background-image: url(../images/skill_coding_on.png);}
.skilltype .sk_design.on .txt_wrap .type {background-image: url(../images/skill_design_on.png);}
.skilltype .sk_etc.on .txt_wrap .type {background-image: url(../images/skill_etc_on.png);}

#skill .btn_wrap {top: 316px; left: 454px;}
#skill .btn_wrap.on {top: 316px; left: 454px;}
#skill .btn_wrap button {background: no-repeat left top; width: 40px; height: 40px;}
#skill .btn_wrap .prev_skill {background-image: url(../images/btn_prev.png); margin-right: 18px;}
#skill .btn_wrap .next_skill {background-image: url(../images/btn_next.png);}

.skilltype > li .shape, .skilltype > li .txt_wrap {transition: all .6s ease;}
.skilltype > li .txt_wrap .type {transition: all .6s 0.3s;}
.skilltype > li .txt_wrap p {transition: all 1.2s 0.5s;}
.skilltype > li .txt_wrap .icons {transition: all 1.2s 1s;}
.skilltype > li.on .skill_view {transition: all 1s 0.4s;}

.polygon_wrap, #skill .btn_wrap {display: none; position: absolute; opacity: 0;}
.polygon_wrap.on, #skill .btn_wrap.on {display: block;}

.polygon_wrap {top: 314px; right: 0; width: 60%; height: 464px;}
.polygon_wrap .poly {position: absolute; top: 0; left: 50%; transform: translate(-50%,0); height: 100%;}
.polygon_wrap .poly1 {width: 519px;}
.polygon_wrap .poly2 {width: 606px;}
.polygon_wrap .poly3 {width: 529px;}
.polygon_wrap .poly.on {transform: translate(-50%,0) scale(1); opacity: 1;}
.polygon_wrap .poly.prev_pol {transform: translate(-544px, 0) scale(0.3); opacity: 0.4;}
.polygon_wrap .poly.next_pol {transform: translate(10px, 0) scale(0.3); opacity: 0.4;}

.polygon_wrap .poly img {position: absolute; top: 0; left: 0;}

/* person */
#person .area {display: flex; justify-content: center; align-items: center;}
#person .txt_box {position: relative; width: 800px;}
#person .txt_box:before, #person .txt_box:after {position: absolute; top: -5px; font-size: 60px; font-weight: 500;}
#person .txt_box:before {content: '['; left: 0;}
#person .txt_box:after {content: ']'; right: 0;}
#person .txt_box .fixed_txt, #person .txt_box .txt_list, #person .txt_box .txt_list li {display: inline; font-size: 60px;}
#person .txt_box .fixed_txt {margin-left: 86px;}
#person .txt_box .txt_list {font-weight: 700; padding-left: 52px;}
#person .txt_box .txt_list li {position: absolute; opacity: 0;}
#person .txt_box .txt_list li:nth-child(1) {opacity: 1;}

/* elsewhere */
#elsewhere .area {position: relative;}
#elsewhere h2 {font-size: 50px; font-weight: 400; padding-top: 196px; text-align: center;}
#elsewhere .descr {font-size: 18px; margin-top: 40px; text-align: center;}
#elsewhere .site_list {display: flex; justify-content: center; margin-top: 140px;}
#elsewhere .site_list > li {position: relative; float: left;}
#elsewhere .site_list > li a {position: relative; display: block; width: 192px; height: 166px; margin: 0 40px; text-align: center;}
#elsewhere .site_list > li a .shape {position: absolute; top: 0; left: 0; width: 226px; height: 200px; transition: all 0.8s ease;}
#elsewhere .site_list > li a img {padding: 52px 0 0 34px;}
#elsewhere .site_list > li a span {display: block; margin-top: 70px; font-size: 20px; font-weight: 300; opacity: 0; transition: all 0.8s ease; text-transform: uppercase; padding-left: 34px;}
#elsewhere .site_list > li a:hover span, #elsewhere .site_list > li a:focus span {opacity: 1;}
#elsewhere .site_list > li a:hover .shape, #elsewhere .site_list > li a:focus .shape {transform: scale(1.2);}
#elsewhere .site_list > li a:hover .shape path, #elsewhere .site_list > li a:focus .shape path {fill: #2a006d;}

.bubbles {position: absolute; top: -80px; left: 64px; width: 180px; height: 100px;}
.individual-bubble {position: absolute; border-radius: 50%; bottom: 0; background-color: #fff; opacity: 0.7;}


/* ======== #project ======== */
#project {perspective: 5600px;}
#project .wrap {position: absolute; top: 640px; left: 0; width: 100%; height: 100%;}
#project article {position: absolute; left: 50%; width: 100%; height: 100%; cursor: pointer; background: no-repeat center top; background-size: cover; box-shadow: 0 0 40px 10px rgba(0,0,0,0.15);}

#project #normal {background-image: url(../images/d_normal.jpg); z-index: 18;}
#project #portfolio {background-image: url(../images/d_portfolio.jpg); z-index: 16;}
#project #megabox {background-image: url(../images/d_megabox.jpg); z-index: 14;}
#project #responsive {background-image: url(../images/d_responsive.jpg); z-index: 12;}
#project #standard {background-image: url(../images/d_standard.jpg); z-index: 10;}
#project #artmining {background-image: url(../images/d_artmining.jpg); z-index: 8;}
#project #huvis {background-image: url(../images/d_huvis.jpg); z-index: 6;}
#project #hanwhalife {background-image: url(../images/d_hanwha.jpg); z-index: 4;}
#project #nvisana {background-image: url(../images/d_nvisana.jpg); z-index: 2;}

/* project detail common */
#project #project_detail {position: absolute; top: 50%; left: 50%; width: 100%; height: 100vh; transform: translate(-50%,-50%) scale(0.4); opacity: 0; transition: all 0.8s ease; z-index: -1;}
#project #project_detail.on {transform: translate(-50%,-50%) scale(1); opacity: 1; z-index: 50;}

#project_detail > div {position: relative; width: 100%; height: 100vh; background: no-repeat 24px 30px; background-image: url(../images/proj_logo.png_w.png);}
#project_detail .d_normal, #project_detail .d_standard, #project_detail .d_artmining {background-image: url(../images/proj_logo.png);}
#project_detail > div .btn_projmenu, #project_detail > div img, #project_detail > div .summary, #project_detail > div .btn_more {position: absolute;}

#project_detail > div .area {position: relative; width: 1700px; height: 100%; margin: 0 auto;}
#project_detail > div .btn_projmenu {right: 60px; bottom: 50px; width: 54px; height: 44px; z-index: 200; background: url(../images/menu_w.png) no-repeat center center;}

#project_detail .d_normal .btn_projmenu, #project_detail .d_standard .btn_projmenu, #project_detail .d_artmining .btn_projmenu {background-image: url(../images/menu_b.png);}

#project_detail > div .title {position: relative; padding-top: 110px;}
#project_detail > div .title h2 {padding-top: 82px; font-size: 80px;}
#project_detail > div .title p {position: absolute; top: 110px; left: 0; font-size: 22px; line-height: 22px;}
#project_detail > div .title ul.tag li {display: inline-block; font-size: 16px; padding: 4px; margin: 32px 2px 0;}

#project_detail > div .title.right {text-align: right;}
#project_detail > div .title.right p {left: auto; right: 0;}

#project_detail > div .summary {font-size: 22px;}
#project_detail > div .summary1 > li {padding: 10px 0;}
#project_detail > div .summary1::before {content:''; position: absolute; top: -24px; left: 0; width: 22px; height: 1px; background: #fff;}
#project_detail .d_normal .summary1::before, #project_detail .d_standard .summary1::before, #project_detail .d_artmining .summary1::before {background: #000;}

#project_detail > div .summary2 > li {float: left;}
#project_detail > div .summary2 > li + li {margin-left: 60px;}
#project_detail > div .summary2 > li > ul {padding-left: 38px;}

#project_detail > div .summary2 > li .palette {margin-left: 40px;}
#project_detail > div .summary2 > li .palette li {position: relative; display: inline-block; width: 130px; text-align: center; padding-top: 114px; margin-top: 30px;}
#project_detail > div .summary2 > li .palette li span {font-size: 16px;}
#project_detail > div .summary2 > li .palette li span::before {content: ''; position: absolute; top: 0; left: 50%; margin-left: -50px; width: 100px; height: 100px; border-radius: 50%;}
#project_detail > div .summary2 > li .font li {position: relative; display: inline-block; width: 180px; text-align: center; padding-top: 90px; margin-top: 36px;}
#project_detail > div .summary2 > li .font li span {font-size: 24px;}
#project_detail > div .summary2 > li .font li span::before {position: absolute; top: 0; left: 50%; margin-left: -80px; width: 160px; text-align: center; font-size: 60px;}

#project_detail > div .btn_more a {position: relative; float: left; display: block; width: 180px; height: 56px; line-height: 56px; font-size: 26px; font-weight: 700; text-align: center; box-sizing: border-box; border: 2px solid; z-index: 100;}
#project_detail > div .btn_more .site {border-color: transparent;}
#project_detail > div .btn_more .git {width: 134px; margin-left: 18px;}

#project_detail > div .btn_more .over_rect {position: absolute; top: 0; left: 0; z-index: 0;}
#project_detail > div .btn_more .over_rect > div {position: relative; float: left;}

#project_detail > div .btn_more .over_rect > div .rect {
    content:''; position: absolute; top: 0; left: 0; width: 180px; height: 56px; opacity: 0.6;
}

#project_detail > div .btn_more .over_rect > div:nth-child(2) .rect {
    left: 198PX; width: 134px;
}

#project_detail > div .btn_more .over_rect > div.on .rect:nth-child(1) {animation: rect 1.2s infinite;}
#project_detail > div .btn_more .over_rect> div.on .rect:nth-child(2) {animation: rect 1.2s infinite -0.9s;}

@keyframes rect {
    0% {transform: scale(1,1); opacity: 0.6;}
    100% {transform: scale(1.2,1.5); opacity: 0;}
}

/* d_normal */
#project_detail .d_normal {background-color: #f0f0f0; color: #000; font-family: Lucidab;}
#project_detail .d_normal .title h2 {font-family: Neo;}
#project_detail .d_normal .title p {color: #af0000; font-family: GothA1; font-weight: 700;}
#project_detail .d_normal .title ul.tag li {background: #000; color: #fff; font-family: GothA1;}
#project_detail .d_normal .area img {top: 0; right: 0; width: 1152px; height: 536px;}

#project_detail .d_normal .summary.summary1 {top: 420px; left: 0;}
#project_detail .d_normal .summary.summary1 li:nth-child(4) {margin-top: 46px;}
#project_detail .d_normal .summary.summary2 {top: 600px; left: 550px;}

#project_detail .d_normal .summary2 > li .palette li:nth-child(1) span:before {background: #f0f0f0; border: 1px solid #000;}
#project_detail .d_normal .summary2 > li .palette li:nth-child(2) span:before {background: #000000;}
#project_detail .d_normal .summary2 > li .palette li:nth-child(3) span:before {background: #af0000;}

#project_detail .d_normal .summary2 > li .font li:nth-child(1) {font-family: Neo;}
#project_detail .d_normal .summary2 > li .font li:nth-child(2) {font-family: NotoS;}
#project_detail .d_normal .summary2 > li .font li:nth-child(3) {font-family: 'Chosunilbo_myungjo';}

#project_detail .d_normal .summary2 > li .font li:nth-child(1) span::before {content: 'ABC';}
#project_detail .d_normal .summary2 > li .font li:nth-child(2) span::before {content: 'ABC';}
#project_detail .d_normal .summary2 > li .font li:nth-child(3) span::before {content: '가나다'; top: 6px; font-size: 52px;}

#project_detail .d_normal .btn_more {left: 0; bottom: 60px;}
#project_detail .d_normal .btn_more .site {background: #000; color: #fff;}
#project_detail .d_normal .btn_more .git {background: #f0f0f0; border-color: #000;}

/* d_portfolio */
#project_detail .d_portfolio {background-color: #4a30b5;}
#project_detail .d_portfolio .title ul.tag li {background: #fff; color: #4a30b5; font-weight: 500;}
#project_detail .d_portfolio .area img {bottom: 60px; left: 0; width: 950px; height: 514px;}

#project_detail .d_portfolio .summary.summary1 {top: 156px; left: 0;}
#project_detail .d_portfolio .summary.summary1 li:nth-child(4), #project_detail .d_portfolio .summary.summary1 li:nth-child(5) {position: absolute; top: 0; left: 480px; width: 500px;}
#project_detail .d_portfolio .summary.summary1 li:nth-child(5) {top: 42px;}

#project_detail .d_portfolio .summary.summary2 {top: 590px; left: 978px;}
#project_detail .d_portfolio .summary2 > li .palette li {width: 170px;}
#project_detail .d_portfolio .summary2 > li .palette li:nth-child(1) span::before {background: #ffffff;}
#project_detail .d_portfolio .summary2 > li .palette li:nth-child(2) span::before {background-image: linear-gradient(-135deg, #c56cd6 0%,#3425af 100%); border: 1px solid #fff;}

#project_detail .d_portfolio .summary2 > li .font li:nth-child(1) span::before {content: 'ABC';}

#project_detail .d_portfolio .btn_more {right: 0; top: 415px; font-weight: 500;}
#project_detail .d_portfolio .btn_more .site {background: #a95fcf;}
#project_detail .d_portfolio .btn_more .git {background: #4a30b5; border-color: #a95fcf;}

/* d_megabox */
#project_detail .d_megabox {background-color: #351f66; font-family: NotoS;}
#project_detail .d_megabox .title {margin-left: 866px;}
#project_detail .d_megabox .title ul.tag {position: absolute; bottom: 44px; right: 80px;}
#project_detail .d_megabox .title ul.tag li {background: #2e91ae; color: #fff;}
#project_detail .d_megabox .area img {bottom: 0; left: 0; width: 827px; height: 811px;}

#project_detail .d_megabox .summary.summary1 {top: 360px; left: 920px;}
#project_detail .d_megabox .summary.summary2 {top: 610px; left: 920px;}

#project_detail .d_megabox .summary2 > li .palette li:nth-child(1) span:before {background: #fff;}
#project_detail .d_megabox .summary2 > li .palette li:nth-child(2) span:before {background: #351f66; border: 1px solid #fff;}

#project_detail .d_megabox .summary2 > li .font li:nth-child(1) {font-family: NotoS;}
#project_detail .d_megabox .summary2 > li .font li:nth-child(1) span::before {content: 'ABC 가나다'; width: 320px;}

#project_detail .d_megabox .btn_more {right: 0; top:470px;}
#project_detail .d_megabox .btn_more .site {background: #2e91ae;}
#project_detail .d_megabox .btn_more .git {background: #351f66; border-color: #2e91ae;}

/* d_responsive */
#project_detail .d_responsive {background-color: #2498d1; font-family: NanumGo;}
#project_detail .d_responsive .title ul.tag li {background: #452de5; color: #fff;}
#project_detail .d_responsive .area img {top: 0; right: -110px; width: 973px; height: 940px;}

#project_detail .d_responsive .summary.summary1 {top: 390px; left: 0;}
#project_detail .d_responsive .summary.summary2 {top: 560px; left: 0;}

#project_detail .d_responsive .summary.summary1 li:nth-child(4), #project_detail .d_responsive .summary.summary1 li:nth-child(5) {position: absolute; top: 0; left: 420px; width: 500px;}
#project_detail .d_responsive .summary.summary1 li:nth-child(5) {top: 42px;}

#project_detail .d_responsive .summary2 > li .palette li:nth-child(1) span:before {background: #fff;}
#project_detail .d_responsive .summary2 > li .palette li:nth-child(2) span:before {background: #2498d1; border: 1px solid #fff;}

#project_detail .d_responsive .summary2 > li .font li:nth-child(1) {font-family: NanumGo;}
#project_detail .d_responsive .summary2 > li .font li:nth-child(1) span::before {content: 'ABC 가나다'; width: 320px;}

#project_detail .d_responsive .btn_more {bottom: 50px; left: 0;}
#project_detail .d_responsive .btn_more a {line-height: 52px;}
#project_detail .d_responsive .btn_more .site {background: #452de5;}
#project_detail .d_responsive .btn_more .git {background: #2498d1; border-color: #452de5;}

/* d_standard */
#project_detail .d_standard {background-color: #5fc0eb; font-family: NanumGo; color: #000;}
#project_detail .d_standard .title h2 {padding-top: 52px;}
#project_detail .d_standard .title ul.tag li {background: #2498d1;}
#project_detail .d_standard .area img {top: 0; left: -110px; width: 1056px; height: 940px;}

#project_detail .d_standard .summary.summary1 {top: 440px; left: 930px;}
#project_detail .d_standard .summary.summary2 {top: 620px; left: 930px;}

#project_detail .d_standard .summary.summary1 li:nth-child(4), #project_detail .d_standard .summary.summary1 li:nth-child(5) {position: absolute; top: 0; left: 400px; width: 500px;}
#project_detail .d_standard .summary.summary1 li:nth-child(5) {top: 42px;}

#project_detail .d_standard .summary2 > li .palette li:nth-child(1) span:before {background: #fff;}
#project_detail .d_standard .summary2 > li .palette li:nth-child(2) span:before {background: #2498d1; border: 1px solid #fff;}

#project_detail .d_standard .summary2 > li .font li:nth-child(1) {font-family: NanumGo;}
#project_detail .d_standard .summary2 > li .font li:nth-child(1) span::before {content: 'ABC 가나다'; width: 320px;}

#project_detail .d_standard .btn_more {top: 320px; left: 930px;}
#project_detail .d_standard .btn_more a {line-height: 52px;}
#project_detail .d_standard .btn_more .site {background: #2498d1; color: #fff;}
#project_detail .d_standard .btn_more .git {background: #5fc0eb; border-color: #2498d1;}

/* d_artmining */
#project_detail .d_artmining {background-color: #ffb400; font-family: NotoS; color: #000;}
#project_detail .d_artmining .title h2 {padding-top: 52px;}
#project_detail .d_artmining .title ul.tag li {background: #000; color: #fff;}
#project_detail .d_artmining .area img {bottom: 0; left: 0;; width: 1100px; height: 832px;}

#project_detail .d_artmining .summary.summary1 {top: 380px; left: 1140px;}
#project_detail .d_artmining .summary.summary1 li span {display: inline-block; width: 160px; height: 25px; background: url(../images/star_b.png) left center; margin-bottom: -8px;}

#project_detail .d_artmining .summary.summary2 {top: 540px; left: 1140px;}
#project_detail .d_artmining .summary2 > li .palette li:nth-child(1) span:before {background: #fff;}
#project_detail .d_artmining .summary2 > li .palette li:nth-child(2) span:before {background: #000000;}
#project_detail .d_artmining .summary2 > li .palette li:nth-child(3) span:before {background: #ffb400; border: 1px solid #fff;}

#project_detail .d_artmining .btn_more {bottom: 60px; left: 1140px;}
#project_detail .d_artmining .btn_more .site {background: #000; color: #fff;}
#project_detail .d_artmining .btn_more .git {background: #ffb400; border-color: #000; line-height: 52px;}

/* d_huvis */
#project_detail .d_huvis {background-color: #00265b; font-family: NotoS;}
#project_detail .d_huvis .title h2 {padding-top: 52px;}
#project_detail .d_huvis .title ul.tag li {background: #01b4e5;}
#project_detail .d_huvis .area img {top: 0; right: 0;; width: 900px; height: 940px;}

#project_detail .d_huvis .summary.summary1 {top: 360px; left: 0;}
#project_detail .d_huvis .summary.summary1 li span {display: inline-block; width: 160px; height: 25px; background: url(../images/star_w.png) left center; margin-bottom: -8px;}
#project_detail .d_huvis .summary.summary2 {top: 540px; left: 0;}
#project_detail .d_huvis .summary2 > li .palette li:nth-child(1) span:before {background: #01b4e5;}
#project_detail .d_huvis .summary2 > li .palette li:nth-child(2) span:before {background: #00265b; border: 1px solid #fff;}

#project_detail .d_huvis .btn_more {bottom: 60px; left: 420px;}
#project_detail .d_huvis .btn_more .site {background: #01b4e5;}
#project_detail .d_huvis .btn_more .git {background: #00265b; border-color: #01b4e5; line-height: 52px;}

/* d_hanwhalife */
#project_detail .d_hanwhalife {background-color: #f15b47; font-family: NotoS;}
#project_detail .d_hanwhalife .title h2 {padding-top: 52px;}
#project_detail .d_hanwhalife .title ul.tag li {background: #fff; color: #f15b47;}
#project_detail .d_hanwhalife .area img {top: 116px; right: -72px; width: 1132px; height: 742px;}

#project_detail .d_hanwhalife .summary.summary1 {top: 360px; left: 0;}
#project_detail .d_hanwhalife .summary.summary1 li span {display: inline-block; width: 160px; height: 25px; background: url(../images/star_w.png) left center; margin-bottom: -8px;}
#project_detail .d_hanwhalife .summary.summary2 {top: 520px; left: 0;}
#project_detail .d_hanwhalife .summary2 > li .palette li:nth-child(1) span:before {background: #ffffff;}
#project_detail .d_hanwhalife .summary2 > li .palette li:nth-child(2) span:before {background: #f15b47; border: 1px solid #fff;}

#project_detail .d_hanwhalife .btn_more {bottom: 60px; left: 0;}
#project_detail .d_hanwhalife .btn_more .site {background: #fff; color: #f15b47;}
#project_detail .d_hanwhalife .btn_more .git {background: #f15b47; border-color: #fff; line-height: 52px;}

/* d_nvisana */
#project_detail .d_nvisana {background-color: #59595c; font-family: NotoS;}
#project_detail .d_nvisana .title {margin-left: 870px;}
#project_detail .d_nvisana .title h2 {padding-top: 52px;}
#project_detail .d_nvisana .title ul.tag li {background: #5597d1;}
#project_detail .d_nvisana .area img {bottom: 0; left: 0; width: 734px; height: 843px;}

#project_detail .d_nvisana .summary.summary1 {top: 400px; left: 870px;}
#project_detail .d_nvisana .summary.summary1 li span {display: inline-block; width: 160px; height: 25px; background: url(../images/star_w.png) left center; margin-bottom: -8px;}

#project_detail .d_nvisana .btn_more {bottom: 220px; right: 0;}
#project_detail .d_nvisana .btn_more .site {background: #5597d1;}
#project_detail .d_nvisana .btn_more .git {background: #59595c; border-color: #5597d1; line-height: 52px;}


#project_detail .d_normal, #project_detail .d_portfolio, #project_detail .d_megabox, #project_detail .d_responsive, #project_detail .d_standard, #project_detail .d_artmining, #project_detail .d_huvis, #project_detail .d_hanwhalife, #project_detail .d_nvisana {display: none; opacity: 0;}




/* ======== #contact ======== */
#contact .area {position: relative; display: flex; align-items: center; flex-direction: column;}
#contact h2 {font-size: 40px; font-weight: 400; margin: 320px 0 60px; transform: translateY(0x);}
#contact #sendEmail {width: 380px; font-size: 18px; font-weight: 400; opacity: 1;}
#contact #sendEmail > * {width: 100%; height: 50px; border-radius: 3px;}
#contact #sendEmail .u_write {background: rgba(255,255,255,0.2); border: 1px solid #fff; margin-bottom: 15px; text-align: center; transition: all 0.5s;}
#contact #sendEmail #message {height: 200px; padding: 20px; box-sizing: border-box;}
#contact #sendEmail .u_write:hover {background: rgba(255,255,255,0.4);}
#contact #sendEmail .u_write:focus {background: rgba(255,255,255, 1); transform: scaleX(1.1); color: #633CBB;}

#contact button {background: #fff; font-weight: 500; color: #633CBB; transition: all 0.5s;}
#contact button:hover, #contact button:focus {background: #4f28aa; color: #fff;}

#contact .area p {margin-top: 100px; height: 24px; line-height: 24px; background: url(../images/email.png) no-repeat left center; padding-left: 45px;}

#contact .area .rewrite {position: absolute; top: 78%; left: 50%; transform: translate(-50%,-50%); font-size: 18px; width: 120px; height: 34px; opacity: 0; z-index: -1; border-radius: 3px;}

#contact h2 {transition: all 1.6s;}
#contact #sendEmail {transition: all 0.8s;}
#contact .area.on h2 {transform: translateY(260px); animation: opaAni 1.6s;}
#contact .area.on #sendEmail {opacity: 0;}

@keyframes opaAni {
    0% {opacity: 1;}
    30% {opacity: 0.3;}
    100% {opacity: 1;}
}

#contact #sendEmail ::-webkit-input-placeholder {color: #fff;}
#contact #sendEmail :-ms-input-placeholder {color: #fff;}
#contact #sendEmail ::placeholder {color: #fff; opacity: 1;}



/* ======= 초기값, active =========== */
#edith, #main, #act1, #act2, #about, #gnb, #btnOpen, #project, #contact {display: none;}
#edith.active, #main.active, #act1.active, #act2.active, #about.active, #project.active, #contact.active {display: block; opacity: 0;}
#gnb.active, #btnOpen.active {display: flex; opacity: 0;}


#info, #skill, #elsewhere, #person {z-index: -1; display: none;}
#info.active, #skill.active, #person.active, #elsewhere.active {z-index: 10; display: block; opacity: 0;}